<!DOCTYPE HTML>
<html>
    <head>
        <title>The Digital Book Corner</title>
        <meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        <header>
            <div id="logoimg">
                <a href=""><img src=""></a>
            </div>
            <div id="loginandshoppingcart">
                <div id="loginbutton">
                    <button>Login</button>
                </div>
                <div id="shoppingcart">
                    <button><img src=""></button>
                </div>
            </div>
            <div id="navbarlinks">

            </div>

        </header>
        <div id="aboutpage">
            <div id="aboutimage">
                <img src="">
            </div>
            <div id="aboutblurb">
                <h1>About The Digital Book Corner</h1>
                <p>Blurb here</p>
            </div>


        </div>
    </body>
</html>
