<!DOCTYPE HTML>
<html>
	<head>
		<title>The Digital Book Corner</title>
		<meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    <body>

        <h1>The Digital Book Corner</h1>

        <div class="container mt-4">
            {{#each rows}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{this.BookTitle}}</h4>
                        <p class="card-text">${{this.Price}}</p>
                        <form action="/addToCart" method="POST">
                            <input type="hidden" name="BookTitle" value="{{this.BookTitle}}">
                            <input type="hidden" name="Price" value="{{this.Price}}">
                            <input type="submit" value="Add to Cart">
                        </form>
                </div>
            {{/each}}
        </div>

        <form action="/search_item" method="POST">
            <input type="search"  name="BookTitle" class="form-control rounded"  placeholder="Search" size="255" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
            <input type="submit" class="btn btn-primary" value="Search">
        </form>

        <h2>Genre</h2>
        <form action="/search_genre" method="POST">
            <input type="radio" id="Biography" name="genre" value="Biography">
            <label for="biography">Biography</label><br>

            <input type="radio" id="Business" name="genre" value="Business">
            <label for="business">Business</label><br>

            <input type="radio" id="Children" name="genre" value="Children">
            <label for="children">Children</label><br>

            <input type="radio" id="Classic" name="genre" value="Classic">
            <label for="children">Classic</label><br>

            <input type="radio" id="Fantasy" name="genre" value="Fantasy">
            <label for="fantasy">Fantasy</label><br>

            <input type="radio" id="Fiction" name="genre" value="Fiction">
            <label for="fiction">Fiction</label><br>

            <input type="radio" id="Literature" name="genre" value="Literature">
            <label for="literature">Literature</label><br>

            <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
            <label for="non-fiction">Non-Fiction</label><br>

            <input type="radio" id="Romance" name="genre" value="Romance">
            <label for="romance">Romance</label><br>

            <input type="radio" id="Science Fiction" name="genre" value="Science Fiction">
            <label for="sciencefiction">Science Fiction</label><br>

            <input type="radio" id="Self-Help" name="genre" value="Self-Help">
            <label for="self-help">Self-Help</label><br>

            <input type="radio" id="Textbooks" name="genre" value="Textbooks">
            <label for="textbooks">Textbooks</label><br>

            <input type="radio" id="Travel" name="genre" value="Travel">
            <label for="travel">Travel</label><br>

            <input type="submit" class="genre" value="submit">
            
        </form>

        <h2>Demographics</h2>
        <form action="/search_demographics" method="POST">
            <input type="radio" id="Adult" name="demographics" value="Adult">
            <label for="Adult">Adult</label><br>

            <input type="radio" id="Teens" name="demographics" value="Teens">
            <label for="Teens">Teens</label><br>

            <input type="radio" id="Kids" name="demographics" value="Kids">
            <label for="Kids">Kids</label><br>

            <input type="submit" class="demographic" value="Search">
        </form>

        <h2>Year Published</h2>
        <form action="/search_year" method="POST">
            <input type="radio" id="0-2000" name="yearRange" value="0,2000">
            <label for="0-2000">Before 2000</label><br>

            <input type="radio" id="2001-2010" name="yearRange" value="2001,2010">
            <label for="2001-2010">2001 - 2010</label><br>

            <input type="radio" id="2011-2020" name="yearRange" value="2011,2020">
            <label for="2011-2020">2011 - 2020</label><br>

            <input type="radio" id="2021-2030" name="yearRange" value="2021,2030">
            <label for="2021-2030">2021 and Beyond</label><br>

            <input type="submit" class="yearRange" value="submit">
        </form>

        <script>
            function addToCart(bookTitle, price) {
                
               console.log(bookTitle);
                // Send an AJAX request to the server to add the item to the cart
                /*fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        BookTitle: BookTitle,
                        Price: Price,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the server (if needed)
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });*/
            }
        </script>

    </body>

</html>