<!DOCTYPE HTML>
<html>
	<head>
		<title>The Digital Book Corner</title>
		<meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Claire Hooper, Krizia Olitoquit, Robbie Anderson">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    <body>

        <form action="/search_item" method="POST">
            <input type="text"  name="BookTitle" class="form-control"  placeholder="Enter book title" size="255"><br>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>

        <form action="/search_genre" method="POST">
            <input type="radio" id="Biography" name="genre" value="Biography">
            <label for="biography">Biography</label><br>
            <input type="radio" id="Business" name="genre" value="Business">
            <label for="business">Business</label><br>
            <input type="radio" id="Children" name="genre" value="Children">
            <label for="children">Children</label><br>
            <input type="radio" id="Fantasy" name="genre" value="Fantasy">
            <label for="fantasy">Fantasy</label><br>
            <input type="radio" id="Fiction" name="genre" value="Fiction">
            <label for="fiction">Fiction</label><br>
            <input type="radio" id="Literature" name="genre" value="Literature">
            <label for="literature">Literature</label><br>
            <input type="radio" id="Non-Fiction" name="genre" value="Non-Fiction">
            <label for="non-fiction">Non-Fiction</label><br>
            <input type="radio" id="Romance" name="genre" value="Romance">
            <label for="romance">Romance</label><br>
            <input type="radio" id="Science_Fiction" name="genre" value="Science_Fiction">
            <label for="sciencefiction">Science Fiction</label><br>
            <input type="radio" id="Self-Help" name="genre" value="Self-Help">
            <label for="self-help">Self-Help</label><br>
            <input type="radio" id="Textbooks" name="genre" value="Textbooks">
            <label for="textbooks">Textbooks</label><br>
            <input type="radio" id="Travel" name="genre" value="Travel">
            <label for="travel">Travel</label><br>
            <input type="submit" class="genre" value="submit">
        </form>

        <form action="/search_demographics" method="POST">
            <input type="radio" id="Adult" name="demographics" value="Adult">
            <label for="Adult">Adult</label><br>
            <input type="radio" id="Teens" name="demographics" value="Teens">
            <label for="Teens">Teens</label><br>
            <input type="radio" id="Kids" name="demographics" value="Kids">
            <label for="Kids">Kids</label><br>
            <input type="submit" class="demographic" value="submit">
        </form>

        <form action="/search_year" method="POST">
            <input type="radio" id="0-2000" name="yearrange" value="0-2000">
            <label for="0-2000">Before 2000</label><br>
            <input type="radio" id="2001-2010" name="yearrange" value="2001-2010">
            <label for="2001-2010">2001 - 2010</label><br>
            <input type="radio" id="2011-2020" name="yearrange" value="2011-2020">
            <label for="2011-2020">2011 - 2020</label><br>
            <input type="radio" id="2021-2030" name="yearrange" value="2021-2030">
            <label for="2021-2030">2021 and Beyond</label><br>
            <input type="submit" class="yearrange" value="submit">
        </form>

        <form action="/search_price" method="POST">
            <label for="price">Price Range</label>
            <input type="range" min="0" max="100" value="50" id="price" step="20" list="pricerange">
            <datalist id="pricerange">
                <option>$0 - $10</option>
                <option>$11 - $20</option>
                <option>$21 - $35</option>
                <option>$36 - $50</option>
                <option>$51 - $75</option>
                <option>$76 - $99</option>
                <option>$100+</option>
            </datalist>
            <input type="submit" class="slider" value="submit">
        </form>
        
        <h1>The Digital Book Corner</h1>
         {{#each rows}}
            <p>Book Title: {{this.BookTitle}}</p>
        {{/each}}
    </body>

</html>