<!DOCTYPE HTML>
<html>
	<head>
		<title>The Digital Book Corner</title>
		<meta charset="utf-8" />
        <meta name="description" content="Digital Book Library">
        <meta name="keywords" content="library, books, digital, academic, fiction, non-fiction">
        <meta name="author" content="Krizia Olitoquit, Claire Hooper, Robbie Anderson">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    <body>

        <form action="/search_item" method="POST">
            <input type="text"  name="bookName" class="form-control"  placeholder="Enter book name" size="255"><br>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
        
        <h1>The Digital Book Corner</h1>
         {{#each rows}}
            <p>Book Title: {{this.bookTitle}}</p>
            <p>Author: {{this.Author}}</p>
            <p>Published Year: {{this.PublishedYear}}</p>
        {{/each}}
    </body>

</html>